<span class="hn-bot" data-hn-bot aria-hidden="true">
  <span class="hn-bot__shadow"></span>
  <span class="hn-bot__antenna"><i></i></span>
  <span class="hn-bot__head">
    <span class="hn-bot__face"><i></i><i></i><b></b></span>
  </span>
  <span class="hn-bot__neck"></span>
  <span class="hn-bot__body"><i>HN</i><b></b></span>
  <span class="hn-bot__arm hn-bot__arm--left"></span>
  <span class="hn-bot__arm hn-bot__arm--right"></span>
</span>
